@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Nanum Pen Script', cursive, sans-serif;
    font-weight: 400;

}

.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 3, 29, 0.7), rgba(4, 3, 29, 0.7)), url("img/bg01.jpg");
    /* background: linear-gradient(rgba(2, 80, 109, 0.7), rgba(1, 35, 48, 0.7)), url("img/bg01.jpg"); */
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {

    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 80px;
    border-radius: 100%;
}

.nav__link {
    flex: 1;
    text-align: right;
}

.nav__link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav__link ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav__link ul li:hover::after {
    width: 100%;
}

.nav__link ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.text-box {

    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 2px solid red; */
}

.text-box h1 {
    font-size: 62px;
    padding: 18px;
    font-family: 'Nanum Pen Script';
}

.text-box p{
    
    margin:10px 0 40px;
    font-size:14px;    
    color:#f44336;
}


.text-box .btn{

    display: inline-block;    
    padding:12px 45px;
    font-size:13px;
    color:#fff;
    border:1px solid #fff;
    text-decoration: none;
    background:transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;

}
.text-box .btn:hover{

    border:1px solid #f44336;
    background-color: #f44336;
}


nav .fa{
    display: none;
}


@media(max-width:700px){


    .text-box h1 {
        font-size: 20px;        
    }

    .nav__link ul li {
        
        display: block;
      
    
    }

    .nav__link{

        position:absolute;
        background:#f44336;
        height:100vh;
        top:0;
        right:-200px;
        text-align: left;
        width:200px;
        z-index:2;
        transition: 1s;

    }

    nav .fa{
        display: block;
        color: #fff;
        margin:10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav__link ul{
        padding: 30px;
    }


}
